@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    line-height: 1.6;
    flex-wrap: wrap;
}

html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
}

/* MENU */
.contenedor-header{
    background: #1f1f1f;
    position: sticky;
    height: 68px;
    top: 0;
    left: 0;
    z-index: 99;
}

h2 {
    font-size: 1.5rem; /* Ajusta el tamaño según sea necesario */
    overflow-wrap: break-word;
}

.contenedor-header header{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}


.logo {
    text-decoration: none;
    font-size: 36px;
    color: rgb(4, 132, 10); /* Color inicial del texto */
    transition: color 0.3s; /* Transición suave para el cambio de color */
}

.logo:hover {
    color: rgb(128, 0, 0); /* Color cuando el cursor está sobre el texto */
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}

.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION I N I C I O */
.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)), url(https://img.freepik.com/vector-gratis/fondo-negro-degradado-texturas-doradas_23-2149162753.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1723248000&semt=ais_hybrid);
    background-size: cover;
    min-height: 75vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    width: 30vh;
    /* height: 490px; */
    padding: 28px;
    background-color: #1e2326;
    min-width: 241px;
    /* margin-top: 20px; */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 40px;
    
}


.inicio .contenido-banner img {
    margin-top: 40px;
    border: 2px solid #024166;
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 40%;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;
}

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
    width: 100%;
}

.sobremi .contenido-seccion {
    padding-top: 40px;
    margin: auto;
    margin-bottom: 10;
}

.sobremi .contenido-seccion h2 {
    padding: 10px;
    margin-top: 0px;
    border: 2px solid #1CB698;
    max-height: 100%;
    min-width: 100%;
}
    

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.sobremi .fila .col {
    
    margin-top: 20px;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #1CB698;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}

/* SECCION SKILLS */
.skills {
    background-color: #252A2E;
    color: #fff;
    padding: 15px 0px;
    text-align: center;
    
    
}

.skills h1 {
    font-size: 36px;
    font-family: 'Righteous';
    color: #1CB698;
    margin-bottom: 30px;
}

.skills .contenido-seccion {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    height: 100%;
    padding: 0px 45px;
}

.col-skills {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    height: 100%;
    max-width: 450px;
    min-width: 25%;
    flex-direction: column;
}

.col-skills h2 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.skills .skill .barra-skill {
    height: 8px;
    width: 100%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso {
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
.skills .skill .barra-skill .progreso {
    width: 0%;
}


.skills .skill .Javascript {
    animation: Javascript 2s forwards;
}

@keyframes Javascript {
    0% { width: 0%; }
    100% { width: 85%; }
}

.skills .skill .HTMLCSS {
    animation: HTMLCSS 2s forwards;
}

@keyframes HTMLCSS {
    0% { width: 0%; }
    100% { width: 100%; }
}

.skills .skill .Python {
    animation: Python 2s forwards;
}

@keyframes Python {
    0% { width: 0%; }
    100% { width: 80%; }
}

.skills .skill .Comunication .progreso {
    animation: Comunication 2s forwards;
}

@keyframes Comunication {
    0% { width: 0%; }
    100% { width: 95%; }
}

.skills .skill .Team_Work {
    animation: Team_Work 2s forwards;
}

@keyframes Team_Work {
    0% { width: 0%; }
    100% { width: 95%; }
}

.skills .skill .Creativity {
    animation: Creativity 2s forwards;
}

@keyframes Creativity {
    0% { width: 0%; }
    100% { width: 80%; }
}

.skills .skill .Dedication {
    animation: Dedication 2s forwards;
}

@keyframes Dedication {
    0% { width: 0%; }
    100% { width: 0%; }
}

.skills .skill .ProyectManagement {
    animation: ProyectManagement 2s forwards;
}

@keyframes ProyectManagement {
    0% { width: 0%; }
    100% { width: 80%; }
}

/* SECCION CURRICULUM */
.curriculum{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    min-width: 85%;
    margin: auto;
}

.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    border: 1px solid rgb(137, 228, 0);

}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.workH3 {
    padding-left: 22px;
}

.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.curriculum .fila .izquierda {
    border-right: 2px solid #252A2E;
    width: 50%;
}

.curriculum .fila .derecha {
    border-left: 2px solid #252A2E;
    width: 50%;
}

.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa{
    color: #1CB698;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha{
    display: block;
    color: #1CB698;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}

.curriculum .fila .izq{
    border-right: 2px solid #1CB698;
    margin-right: 20px;
}

.curriculum .fila .der{
    border-left: 2px solid #1CB698;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #1CB698;
    width: 28px;
    position: absolute;
    top: 50%;
    right: -29px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #1CB698;
    width: 27px;
    position: absolute;
    top: 50%;
    left: -28px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1CB698;
    float: left;
    position: relative;
    bottom: 4px;
}

.previsualizacion {
    width: auto;
}

/* SECCION PORTFOLIO */
.portfolio{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.portfolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.portfolio h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.portfolio .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.portfolio .galeria .proyecto img{
    width: 100%;
    display: block;
}

.portfolio .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(28,182,152,.8), rgba(28,182,152,.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.portfolio .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}

.portfolio .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.portfolio .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

/* SECCION CONTACTO */
.contacto{
    background-image: url(img/contact_bg.png);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    border: 1px solid rgb(50, 232, 0);
}

.contacto .fila{
    display: flex;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;

}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.info {
    /* Aplica un margen negativo en la parte superior para mover el contenido hacia arriba */
    margin-top: -107px; /* Ajusta según sea necesario */
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay{
    width: 100%;
}

.contacto .col img{
    width: 100%;
}

.contacto .col .info {
    position: relative; /* Cambiar de absolute a relative */
    top: auto; /* Remover el top */
    left: auto; /* Remover el left */
    transform: none; /* Remover transform */
    margin: 20px auto; /* Alinear al centro vertical y horizontalmente con un margen de 20px */
    padding: 20px; /* Añadir padding */
    background-color: #252A2E; /* Color de fondo */
    max-width: 90%; /* Ajustar el ancho máximo */
    border-radius: 10px; /* Añadir bordes redondeados si es necesario */
}


.contacto .col .info ul{
    list-style: none;
}

.contacto .col .info ul li{
    margin-bottom: 20px;
}

.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

footer{
    background-color: #1f1f1f;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;
}

footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #1CB698;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 980px) {
    html, body {
        width: 100%; /* Asegúrate de que el body tenga el ancho completo del viewport */
        overflow-x: hidden; /* Oculta el desbordamiento horizontal */
        margin: 0; /* Elimina el margen por defecto */
        padding: 0; /* Elimina el padding por defecto */
    }

    .contenedor-header {
        background: #1f1f1f;
        position: sticky;
        min-height: 100px;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .contenedor-header header ul {
        display: flex;
        list-style: none;
        flex-direction: row;
        font-size: 10px;
        flex-wrap: wrap;
    }
    


    /* Sección curriculum */
    .curriculum {
        background-color: #1e2326;
        min-width: 80%;
        color: #fff;
        padding: 20px; /* Ajusta el padding para evitar el desbordamiento */
        box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
    }

    .curriculum .fila {
        display: flex;
        flex-direction: column; /* Apila los elementos en columna en pantallas pequeñas */
        width: 100%;
        margin: 0; /* Elimina el margen para evitar desbordamiento */
        padding: 0 10px; /* Ajusta el padding para evitar el desbordamiento */
        box-sizing: border-box;
    }

    /* Sobre mi Sección */
    .sobremi {
        display: flex;
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        background-color: #1e2326;
        color: #fff;
        padding: 20px; /* Ajusta el padding para evitar el desbordamiento */
        box-sizing: border-box;
        width: 100%;
    }

    .sobremi .fila {
        display: flex;
        flex-direction: column; /* Apila los elementos en columna en pantallas pequeñas */
        margin: 0; /* Elimina el margen para evitar desbordamiento */
        padding: 0 10px; /* Ajusta el padding para evitar el desbordamiento */
        box-sizing: border-box;
    }

    .sobremi .fila .col {
        width: 100%; /* Asegúrate de que las columnas ocupen el 100% del ancho en pantallas pequeñas */
        margin-top: 10px; /* Ajusta el margen según sea necesario */
        padding: 10px; /* Añade padding para evitar que el contenido toque los bordes */
        box-sizing: border-box;
    }

    .sobremi .fila .col .contenedor-intereses {
        display: flex;
        justify-content: center; /* Centra el contenido en lugar de alinearlo al final */
    }

    .sobremi .fila .col h3 {
        text-align: center; /* Centra el texto en lugar de alinearlo al inicio */
    }

    /* Sección contacto */
    .contacto .fila {
        display: flex;
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        width: 100%;
        align-items: center; /* Centra los elementos en la fila */
        padding: 0 10px; /* Ajusta el padding para evitar el desbordamiento */
        box-sizing: border-box;
    }

    .contacto .col {
        width: 100%; /* Asegúrate de que las columnas ocupen el 100% del ancho en pantallas pequeñas */
        padding: 10px; /* Ajusta el padding en el contenedor de contacto */
        box-sizing: border-box;
    }

    /* Sección skills */
    .skills {
        background-color: #252A2E;
        color: #fff;
        text-align: center;
        padding: 20px; /* Ajusta el padding para evitar el desbordamiento */
        box-sizing: border-box;
    }

    .skills .contenido-seccion {
        padding: 0 10px; /* Ajusta el padding para evitar el desbordamiento */
        width: 100%;
        display: flex;
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }

    /* Elimina el padding en col-skills */
    .col-skills {
        padding: 0; /* Elimina el padding para evitar desbordamiento */
    }

    /* Elimina el margen en la galería del portafolio */
    .portfolio .galeria .proyecto {
        max-width: 100%; /* Asegúrate de que los proyectos no excedan el ancho del contenedor */
        margin: 5px; /* Ajusta el margen para pantallas pequeñas */
        box-sizing: border-box;
    }

    .contenedor-header header {
        padding: 15px 10px;
        display: flex;
        flex-wrap: nowrap;
        /* justify-content: space-between; */
        /* align-content: space-around; */
    }
    .nav-responsive {
        display: block;
    }
}
